root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{md,txt,yml,yaml,json,xml,qml,cmake,py,c,cpp,h,hpp,s,ioc}]
end_of_line = lf

[*.{cmd,bat,ps1}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
